body {
    background-color: #072a20 !important;
}

.centralizar{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.divimg{
    width: 70%;
    height: 38dvh;
}
.dados{
    background-color: #fdf5e6;
    text-align: center;
    border-radius: 20px;
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.doadores{
  margin-top: -10vh;
}
.ong{
  margin-top: -30vh;
}
.navbar-brand,
.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #0e5e47 !important;
}


.imagem{
    width: clamp(70%, 100%, 120%);
    height: 100%;
    background-color: #072a20;
}
.dadostexto{
    width: 100%;
}
.centro{
    justify-content: center;
}
.descri{
    width: 100%;
    height: auto;
}