/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    background: #0f7356;
}
#navnav {
  background-color: #0f7356;
}
.doadores{
  margin-top: -10vh;
}
.ong{
  margin-top: -30vh;
}
.navbar-brand,
.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #072a20 !important;
}
.botoes-flex{
    display: flex;
    flex-direction: row;
    background-color: #007bff;
}
.container {
    max-width: 700px;
    background-color: oldlace;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}
.bi{
    font-size: 30px;
    margin-bottom: -4%;
    margin-left: -5%;
    color: rgb(67, 63, 63);
}
.divimg{
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    height: 22dvh;
    align-items: end;
}
.imgong{
     width: clamp(70%, 100%, 120%);
    height: 100%;
    border-radius: 20px;
    border: 2px solid #000000;
    image-rendering: auto;
}
.btn { 
    padding: 10px 20px; 
    background-color: #0f7356; 
    color: #fff; 
    font-size: 16px; 
    align-self: center; 
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; } 
    
    
.btn:hover { background-color: #073f2f; }

/* Estilo do formulário */

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: oldlace;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.text-center {
    text-align: center;
}

img.rounded-circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ddd;
}

input[type="file"] {
    padding: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    input[type="text"],
    textarea,
    input[type="file"],
    button {
        font-size: 14px;
    }

    img.rounded-circle {
        width: 100px;
        height: 100px;
    }
}
