/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: oldlace;
    overflow-x: hidden;
}

/* Navbar */
nav {
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.2rem;
    color: #fdf5e6;
}

.form-control {
    max-width: 50vh;
    height: 5vh;
    font-size: 0.9rem;
}

.btn img {
    height: 1.5rem;
}

/* Container de ONGs */
.ong-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
}

/* Estilo dos cards de ONGs */
.ong-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.ong-card:hover {
    transform: translateY(-5px);
}

.ong-card img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.ong-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.ong-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Botão de "Conhecer" */
.botao {
    width: 130px;
    height: 35px;
    border-radius: 4px;
    background-color: #147a60;
    color: #fff;
    border: none;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #105c4a;
}

/* Responsividade */
@media (max-width: 768px) {
    .ong-container {
        flex-direction: column;
        align-items: center;
    }

    .ong-card {
        width: 90%;
    }
}